.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 35px;
  max-width: 320px;
  width: 100%;
  background-color: rgb(26, 27, 33);
  box-shadow: -2px 4px 6px rgba(22, 22, 25, 0.4);

  // Dark Theme
  .main__title {
    font-size: 25px;
    font-weight: bold;
  }

  .main__job {
    margin: 7px 0px 8px;
    font-size: 13px;
    color: rgb(243, 191, 153);
  }

  .main__weblink {
    font-size: 11px;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    max-width: 100%;
    width: 100%;

    .inner__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px 0px;
      width: 115px;
      border-radius: 6px;
      font-size: 14px;
      line-height: 16px;

      .inner__link_icon {
        display: block;
        margin: 0px 8px 0px 0px;
      }
    }

    .email {
      color: rgb(55, 65, 81);
      background-color: rgb(255, 255, 255);
    }

    .linkedin {
      color: rgb(255, 255, 255);
      background-color: rgb(80, 147, 226);
    }
  }

  .main__about,
  .main__interests {
    margin: 15px 0px 5px;
    max-width: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    text-align: left;
  }

  .main__desc {
    font-size: 10px;
    line-height: 150%;
    color: rgb(220, 220, 220);
  }
}
