#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
}

.personal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 115px;
  background-color: rgb(35, 37, 44);
}